{% extends "base.html" %}
{% block title %}success{% endblock %}
{% block containercontent %}
	    <h2>success</h2>
	    <p>Thank you, <strong>{{ name }}</strong>, for authorizing Buzzey an access token for <a href="https://twitter.com/{{ screen_name }}">@{{ screen_name }}</a>. We've successfully received your access token and confirmed it by retrieving some basic details on your behalf from the Twitter REST API. Yay!</p>
	    <p>Here is what we pulled from the API on your behalf:</p>
	    <ul>
	    	<li>You have Tweeted <span class="label label-success">{{ statuses_count }}</span> times.</li>
	    	<li>You have <span class="label label-success">{{ followers_count }}</span> followers.</li>
	    	<li>You follow <span class="label label-success">{{ friends_count }}</span> handles.</li>
	    </ul>


	    <a href="{{ url_for('dashboard') }}" class="btn btn-small btn-primary">Go to Dashboard</a>
	    <hr>
  	  	<div class="bg-info" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">

        </div>
{% endblock %}