<!DOCTYPE html>
<html lang = "en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% extends "basetwitter.html" %}



{% block title %}

Twitter Dashboard
{% endblock %}

{% block containercontent %}

<div class="container">
<p>
  {% if session['username'] %}
   <img src="{{image_url}}" alt ="image" >   <h3> You are logged in: {{session['username']}}<br>
      </h3>
       Signup date = {{date}}<br>
       Membership level = {{level}}

      <h3>  Twitter Account KPI's:  </h3>

      Followers count =  {{followers}}  <br>
      Friends count =  {{friends}} <br>
      Number of posts = {{updates}} <br>


  {% else %}
    <br>
      <a href="{{ url_for('start') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
  {% endif %}
  <br><br>


    <p><a href="{{ url_for('newcampaign')}}" class="btn btn-small btn-success">New Marketing Campaign</a></p><br>

{% if session['followers'] %}
    <p><a href="{{ url_for('customers')}}" class="btn btn-small btn-success" >View Customers Table</a></p><br>
{% else %}
    <p><a href="{{ url_for('followers')}}" class="btn btn-small btn-info">Build Customers Table</a></p><br>
{% endif %}



    <p><a href="{{ url_for('logout')}}" class="btn btn-small btn-warning">Log Out</a></p><br>
</div>
{% endblock %}
</html>


