{% extends "basetwitter.html" %}



{% block title %}

Twitter Dashboard
{% endblock %}

{% block containercontent %}

<p>
  {% if session['username'] %}
      <h3> You are logged in to twitter as {{session['username']}} </h3>
       Signup date = {{user.created.strftime("%b %d, %Y")}}<br>
       Membership level = {{user.member_level}}


      <h3>  KPI's for Twitter Account:  </h3>

      Followers count =  {{response['followers_count']}}  <br>
      Friends count =  {{response['friends_count']}} <br>
      Number of posts = {{response['statuses_count']}} <br>






  {% else %}
    <br>
    <br>
      <a href="{{ url_for('start') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
  {% endif %}
  <br><br><br>


    <p><a href="{{ url_for('campaign')}}" class="btn btn-small btn-success">New Marketing Campaign</a></p><br>

    <p><a href="{{ url_for('followers')}}" class="btn btn-small btn-success">Build Customers Table</a></p><br>

    <p><a href="{{ url_for('rankings')}}" class="btn btn-small btn-success">Build Customer Rankings</a></p><br>



  <a href=" {{ url_for('logout')}}" > Log Out </a>

{% endblock %}