{% extends "base.html" %}



{% block content %}

<div class = "sub-title" >
  <h1>Dashboard Page</h1></div>

  {% if session['username'] %} <h3>
      Hello, {{ session['username']}}!  </h3>
      {% endif %}
<p>
  {% if session['username'] %}
      <h3> You are logged in to twitter account as {{session['username']}} </h3>

      <h3>  KPI's for Twitter Account:  </h3>

      Followers count =  {{followers}}  <br>
      Friends count =  {{friends}} <br>
      Status updates = {{statuses}}





  {% else %}
    <br>
    <br>
      <a href="{{ url_for('start') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
  {% endif %}
  <br><br><br>

  <a href=" {{ url_for('logout')}}" > Log Out </a>

{% endblock %}